@{
    ViewData["Title"] = "خانه";
}

<!-- slider -->
<div class="news-slider border-radius">
    <partial name="_Slider" />
</div>
<!-- End slider -->
<!-- last news -->
<section class="last-news-section border-radius margin-top-60">
    <partial name="_LastNews" />
</section>
<!-- End last news -->
