                    <header><i class="icons icon-star"></i> <h3> پربازدیدترین اخبار </h3></header>
                    <ul>
                        <li>
                            <img class="border-radius" src="/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                        <li>
                            <img class="border-radius" src="/img/thumb.png">
                            <h2> <a href="">عنوان خبر در این ناحیه قرار میگیرد</a></h2>
                            <span>انتشار : 15/08/1395</span>
                        </li>
                    </ul>
