        <div class="container">
            <span><i class="fa fa-th-list"></i></span>
            <ul>
                <li><a href=""> صفحه اصلی </a></li>
                <li><a href=""> ثبت نام </a></li>
                <li><a href=""> ورود به سایت </a></li>
                <li>
                    <span>گروه های خبری</span>
                    <ul>
                        <li><a href="">اخبار سیاسی</a></li>
                        <li><a href="">اخبار فرهنگی</a></li>
                        <li><a href="">اخبار اقتصادی</a></li>
                        <li><a href="">اخبار اجتماعی</a></li>
                    </ul>
                </li>
            </ul>
        </div>
