@model Core.DTO.ShowPageViewModel
@using Core.Domain
@{

    ViewData["Title"] = "ثبت خبر";
    Layout = "~/Areas/Admin/Views/shared/_AdminLayout.cshtml";
    List<PageGroup> list = ViewData["Groups"] as List<PageGroup>;
}

<h1>ثبت خبر</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div>
                <label class="visually-hidden" for="autoSizingSelect">لیست گروه ها</label>
                <select class="form-control" id="autoSizingSelect">
                   @foreach(var item in list)
                    {
                        <option >@item.GroupTitle</option>
                    }
                </select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input type="file" name="ImgUp"  asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShowSlider" /> @Html.DisplayNameFor(model => model.ShowSlider)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت خبر" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">بازگشت به صفحه اصلی</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
